

.borde{
  border-style: solid;
  border-width: 2.5px;
  border-color: #292929;
}


.borde:hover{
  border-color: #7f7f7f;
}
.borde2:hover{
  border-color: #FFFFFF;
}

.contenedor {
  text-align: center;
  color: #28342f;

  cursor:pointer;
}

.contenedor:hover {
  color: #7f7f7f;
}

