<div class="fondo1">


<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2.5">
    <p class="perfiles"><a href="https://pam.quito.gob.ec/PAM/Inicio.aspx?Begin=Login" style="color:#28342f">Inicio
  </a>
      <br>
      <a href="https://pam.quito.gob.ec/PAM/Inicio.aspx?Begin=Login" style="color:#28342f">Acerca de Nosotros
      </a>
      <br>
      <a href="https://pam.quito.gob.ec/PAM/Inicio.aspx?Begin=Login" style="color:#28342f">Lugares Turísticos
      </a>
      <br>
      <a href="https://pam.quito.gob.ec/PAM/Inicio.aspx?Begin=Login" style="color:#28342f">Mapas
      </a>
    </p>
  </div>
  <div class="col-sm-6"> </div>
  <div class="col-sm-1">
    <p class="botones2"><a href="https://pam.quito.gob.ec/PAM/Inicio.aspx?Begin=Login">Login
    </a>
  </div>
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-sm-1.2">
    <p class="botones2"><a href="https://pam.quito.gob.ec/PAM/Inicio.aspx?Begin=Login">Sign Up
    </a>
  </div>

  <div class="col-sm-1"></div>

</div>



  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h2 class="titulo">Guía Turística del Ecuador</h2>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"

         *ngFor="let usuario of imagenEcuador"
    >
      <app-seleccion
        [texto]="usuario.texto"
        [imagen]="usuario.imagen"
      >
      </app-seleccion>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-1"

         *ngFor="let usuario of imagenContactenos"
    >
      <app-seleccion
        [imagen]="usuario.imagen"
      >
      </app-seleccion>
    </div>
    &nbsp;
      <div class="col-sm-1">
      <p class="perfiles2">E-mail</p>
        <p class="perfiles2">Comentarios</p>
    </div>

      <div class="col-sm-1.6">
    <p><textarea name="comentarios" rows="1"></textarea>
    </p>

        <p><textarea name="comentarios2" rows="5"></textarea>
        </p>
      </div>

    <div class="col-sm-1">
      <br><br><br> <br> <br> <br>
      <p class="perfiles">Enviar</p>

    </div>
    <div class="col-sm-6"></div>

</div>

<!--


<h1>Componente seleccion</h1>

<div *ngIf="mostrarComponente">

  PAPA: {{contadorDesdePapa}}

  <app-seleccion
    [contador]="contadorDesdePapa"
    (cambioElContador)="actualizarContador($event)"
  >
  </app-seleccion>
</div>

<button class="btn btn-success"
        (click)="contadorDesdePapa = contadorDesdePapa + 1"
>
  Aumentar valor de contador
</button>

<button class="btn btn-info"
        (click)="mostrarComponente = !mostrarComponente"
>
  Cambiar mostrar seleccion
</button>



<div class="row">
  <div class="col-sm-12">
    <h1>Bindings</h1>

    <h3> Property bindings[] </h3>

    <img [src]="imagenUrl"
         [alt]="'Imagen de un chico'"
         [width]="imagenWidth"
    >

    <p [style.color]="'red'"
       [style.background-color]="'black'"
       [innerText]="'Hola amigos'">

    </p>

    <div [innerHTML]="html"></div>


    <h3> Event bindings() </h3>

    <button
      class="btn btn-block btn-info"
      (click)="aumentarWidth($event)">
      Aumentar imagen
    </button>

    <h1
      (mouseenter)="restarWidth()"> Restar imagen
    </h1>


    <h3> NgModel (two way data bindings) [()] </h3>

    <label for="width">Width</label>

    <input id="width" type="text"
           [(ngModel)]="imagenWidth">


  </div>


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <br>
    <br>
    <h1 class="text-center">
      Hola

      <span *ngIf="mostrarTitulo">{{titulo}}</span>

    </h1>

    <p>Soy el usuario
      {{usuario.nombre + ' ' + usuario.apellido }}
      {{1 + 10}}
    </p>

    <ul>
      <li>{{arregloNumeros[0]}}</li>
      <li>{{arregloNumeros[1]}}</li>
      <li>{{arregloNumeros[2]}}</li>
      <li>{{arregloNumeros[3]}}</li>
      <li>{{arregloNumeros[4]}}</li>
    </ul>

    <ul>
      <li
        *ngFor="let numero of arregloNumeros;
        let i = index"
      >
        {{i + 1}} .- Valor del numero: {{numero}}

      </li>
    </ul>


  </div>
  <div class="col-sm-4"></div>
</div>

-->


